{% extends 'base.html' %}

{% block body %}

  <h2 class="display-1">
    <div class="p-3 mb-2 bg-info text-white">Proyecto Machine Learnig
      <h3 class="text-muted">Recomendador de canciones</h2>
    </div>
  </h2>
  


<form method="GET" action="saludo">
<div class="mx-auto" style="width: 300px;">
<table class="table-info" >
  <p class="lead"><p class="h5">Ingrese la cancion:</p></p>
  <tr>
    <td>
    <input type="file" name="txtFrase" accept=".mp3 , .wav , .txt"></td>
  </tr>

    <tr>
    <td colspan="2">
        <center><input value="Enviar" type="submit"></center>
    </td>
  </tr>
</table>
</div>
</form>

{% endblock %}