{% extends 'base.html' %}

{% block body %}

  <h2 class="display-1">
    <div class="p-3 mb-2 bg-info text-white">{{ titulo }}
      <h3 class="text-muted">Resultados de la busqueda</h2>
    </div>
  </h2>
  <center>
  <br>
  <h1>Resultados</h1>
  <br>
  
  
  {% if exito == 1 %}
  <table border="1">
      <tr>
      <td>
      <table border="1">
            <tr>
                <td><b><h3><div class="alert alert-success" role="alert">Posibles títulos</div></h3></b></td>
            <tr>
            {% for pos in posible %}
            <tr>
             <td><h5>{{ pos }}<h5></td>
             </tr>
             {% endfor %}
      
      </table>
      </td>
      <td>

      <table>
         <tr>
             <td><center><b><h3><div class="alert alert-primary" role="alert">Nombre Original</div></h3></b></center></td>
         </tr>
         <tr>
             <td><h5>{{ music[0] }}</h5></td>
         </tr>
      </ttd>
      </tr>
  </table>
  {% endif %}
          {% if exito == 0 %}
          <center><h2>No pudimos encontrar tus titulos</h2></center>
          {% endif %}
  </table>
</center>
{% endblock %}